.main-container .experience-card {
  z-index: 1;
  max-width: 450px;
  height: 560px;
  justify-content: center;
}
.main-container .experience-card strong {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}
.main-container .experience-card .office{
  font-size: 16px;
}
.main-container .experience-card .div-skills{
  margin-top: 10px;
  border: 2px solid #893CAB;
  border-radius: 4px;
  padding: 10px;
}
.main-container .experience-card .skill{
  font-size: 18px;
  font-weight: bold;
  color: #893CAB;
  line-height: 2%;
}
.main-container .experience-card .skills{
  color: #893CAB;
}
.main-container .experience-card .functions {
  font-weight: bold;
}
.main-container ul .experience-card .experience {
  border-bottom: 2px solid #893CAB;
  background: #F5F5F5 ;
  padding: 10px;
  margin-bottom: 15px;
  color: #893CAB;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  width: 100%;
}
.main-container ul .experience-card .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-container ul .experience-card .icons {
  display: flex;
  margin: 0 auto;
  max-width: 50px;
  border-radius: 5px;
}
.main-container ul .experience-card a {
  margin-top: 30px;
  background: #F5F5F5;
  cursor: pointer;
}
.main-container ul .experience-card a:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  opacity: 0.8;
}
.main-container ul .experience-card button {
  width: 100%;
  background: #F5F5F5;
  border: 2px solid #893CAB;
  padding: 10px;
  margin-top: 17px;
  color: #893CAB;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}
.main-container ul .experience-card button:hover {
  cursor: pointer;
  transition: all .2s;
  opacity: .8;
}
.main-container footer{
  width: 450px;
  justify-content: center;
  font-size: 16px;
  color: #F5F5F5;
  bottom: 0px;
  position: absolute;
}