.main-container {
  max-width: 450px;
  max-height: 560px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}
.main-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-top: 50px;
}
.main-container ul li {
  width: 450px;
  height: 430px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f5f5f5;
  padding: 15px 20px;
  border-radius: 5px;
  color: #666;
  justify-items: center;
  position: absolute;
  border-bottom: #666;
}
.main-container ul .main-card {
  z-index: 2; 
  text-transform: uppercase;
}
.main-container ul li img {
  display: flex;
  max-width: 128px;
  margin: 17px auto;
}
.main-container ul .main-card strong {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 2;
}
.main-container ul li p {
  font-size: 18px;
  margin-top: 10px;
}
.main-container ul .main-card .email {
  font-size: 16px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
}
.main-container ul .main-card:hover {
  transform: rotateY(180deg);
  transition: all 1s;
  opacity: 0;
}
.main-container footer{
  width: 450px;
  justify-content: center;
  font-size: 16px;
  color: #f5f5f5;
  bottom: 0px;
  position: absolute;
}
.main-container .experience-card {
  z-index: 1;
  max-width: 450px;
  height: 560px;
  justify-content: center;
}
.main-container ul .experience-card .buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.main-container ul .experience-card .icons {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 50px;
  border-radius: 5px;
}
.main-container ul .experience-card a {
  margin-top: 30px;
  background: #F5F5F5;
  cursor: pointer;
}
.main-container ul .experience-card a:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  opacity: 0.8;
}
.main-container .experience-card strong {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}
.main-container .experience-card .office{
  font-size: 16px;
}
.main-container .experience-card .div-skills{
  margin-top: 10px;
  border: 2px solid #8a05be;
  border-radius: 4px;
  padding: 10px;
}
.main-container .experience-card .skill{
  font-size: 18px;
  font-weight: bold;
  color: #8a05be;
  line-height: 2%;
}
.main-container .experience-card .skills{
  color: #8a05be;
}
.main-container .experience-card .functions {
  font-weight: bold;
}
.main-container ul .experience-card .experience {
  border-bottom: 2px solid #8a05be;
  background: #f5f5f5 ;
  padding: 10px;
  color: #8a05be;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  width: 100%;
}